version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "GraysonCAdams"
    commit-message:
      prefix: "[pip] "
      include: "scope"
    labels:
      - "dependencies"
      - "pip"
    groups:
      # Group all minor and patch updates together
      python-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "GraysonCAdams"
    commit-message:
      prefix: "[actions] "
    labels:
      - "dependencies"
      - "github-actions"
    groups:
      github-actions:
        patterns:
          - "*"
